.main-cover{
    background-image: url("../../../public/Images/bck2.jpg");
    height: 500px;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(47, 13, 62, 0.482);
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;
}

.bizbize-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

h1{
    color: white;
    max-width: 350px;
}

button{
    height: 50px;
    width: 100px;
    border: none;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

button:hover{
    filter: invert(1);
    transition: 300ms ease-in-out;
}
