.navbar-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    color: #eadaff; /* Navbar metin rengi */
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .navbar-container img {
    width: 75px; /* Logo genişliği */
    height: auto; /* Logo yüksekliği otomatik ayarlanacak */
    cursor: pointer;
  }
  
  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .links a {
    text-decoration: none;
    color: #eadaff; /* Link metin rengi */
    transition: color 0.3s ease; /* Renk geçişi efekti */
    font-weight: 650;
    padding: 10px;
  }
  
  .links a:hover {
    color: #27a68e; /* Link üzerine gelindiğinde renk */
    cursor: pointer;
  }
  
  .links a:active {
    color: #27a68e; /* Link tıklandığında renk */
  }
  
  @media only screen and (max-width: 768px) {
    .navbar-container{
      display: none;
    }
  }